
.menuBar {
    background-color: #B0D1E8;
    text-align: center;
    height: 50px;
    font-size: larger;
    color: #004766;
}

    .menuBar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

.navigationItem {
    width: 50%;
}

    .navigationItem a {
        transition: transform .5s ease;
    }

        .navigationItem a:hover {
            transform: scale(1.2);
        }
#reviewsContainers {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
    #reviewsContainers h1 {
        padding-top: 10px;
        padding-left: 30px;
    }
.review {
    display: flex;
    width: 70%;
    padding: 15px;
    border: 5px solid #004766;
    border-radius: 15px;
}