body {
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

nav {
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #004766;
    color: #E7DFC6;
}

    nav a {
        color: #E7DFC6;
        font-weight: bolder;
        font-size: 24px;
        text-decoration: none;
        transition: transform .4s ease;
    }

        nav a:hover {
            color: #E7DFC6;
            transform: scale(1.07);
        }

body {
    margin-bottom: 60px;
    background-color: #E7DFC6;
}

main {
    margin-top: 0px;
    width: 100%;
    color: #004766;
    justify-content: space-between;
}


.main-movie-info {
    padding: 40px;
    display: flex;
}

.cover {
    text-align:right;
    display: inline-block;
    height: 610px;
    border: 5px solid #004766;
    border-radius: 4px;
    transition: transform .4s ease;
    background-color: #004766;
    color: white;
}

    .cover img {

        height: 600px;
        object-fit: cover;
    }

.information {
    padding-right: 30px;
    width:100%;
}

#info1 {
    margin-right: 0;
    text-align: right;
}
.ratings {
    margin-right: 0;    
    text-align:right;
}
#rating{
    display: inline-block;
    text-align:center;
    padding-right:20px;
}
#userRating {
    display: inline-block;
    text-align: center;
    padding-right: 20px;
}
#userRatingNr {
    display: inline-block;
    text-align: center;
}
.ratingIMG{
    display:flex;
    height:45px;
}
.mediaButtons {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    width: 54%;
}
    .mediaButtons a,
    .mediaButtons button {
        width: 300px;
        display:inline-block;
        margin-right: 10px;
        padding: 10px;
        background-color: #B0D1E8;
        text-align: center;
        color: #004766;
        transition: transform .4s ease;
        border-radius: 25px;
        border: 3px solid #004766;
        outline: none;
        text-decoration: none;
    }
        .mediaButtons a:hover,
        .mediaButtons button:hover {
            transform: scale(1.1);
        }

       
        .rating {
    display: inline-block;
}

.star {
    font-size: 2rem;
    color: #aaa;
    cursor: pointer;
}

    .star:hover,
    .star.active {
        color: #ffcc00;
    }

#mainReview {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.product_cover {
    width: 50%;
    padding 15px;
    margin: auto;
}

.review_content {
    background-color: #B0D1E8;
    width: 50%;
    padding: 20px;
    /*width: 45%;*/
    /*height: 260px;*/
    border: 5px solid #004766;
    border-radius: 10px;
}

    .review_content textarea {
        width: 100%;
    }

.coverReview {
    padding: 15px;
    width: 80%;
}

    .coverReview img {
        width: 280px;
        height: 440px;
        object-fit: cover;
    }


.button_container {
    margin: auto;
    text-align: center;
    justify-content: center;
}

    .button_container input {
        margin: auto;
        background-color: #E7DFC6;
        text-align: center;
        color: #8A6856;
        transition: transform .4s ease;
        border-radius: 25px;
        border: 3px solid #8A6856;
        padding: 10px;
        outline: none;
        width: 80%;
    }

        .button_container input:hover {
            transform: scale(1.1);
        }








footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #8A6856;
}

.footer-basic {
    padding: 15px 0;
    background-color: #8A6856;
    color: #E7DFC6;
}

    .footer-basic ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .footer-basic li {
        padding: 0 10px;
    }

    .footer-basic ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

        .footer-basic ul a:hover {
            opacity: 1;
        }

    .footer-basic .social {
        text-align: center;
        color: #E7DFC6;
        padding-bottom: 15px;
    }

        .footer-basic .social > a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 8px;
            color: inherit;
            opacity: 0.75;
        }

            .footer-basic .social > a:hover {
                opacity: 0.9;
            }

    .footer-basic .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
